section {
    background: white;
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include breakpoint($small) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

	@include breakpoint($small) {
	    &.half-width {
	        .container {
	            padding-right: 50%;
	        }
	    }
	    &.three-quarter-width {
	        .container {
	            padding-right: 25%;
	        }
	    }
	}

	&.stripe:nth-child(even) {
		background-color: #f5f6f7;
	}

}
